.nav-overlay {
    position: fixed; /* Sit on top of the page content */
    direction: rtl;
    // display: none; /* Hidden by default */
    // width: 100%; /* Full width (cover the whole page) */
    // height: 100%; /* Full height (cover the whole page) */
    // top: 0;
    // left: 0;
    right: 0;
    // bottom: 0;
    background-color: #FFF; /* Black background with opacity */
    // z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    // cursor: pointer; /* Add a pointer on hover */
}
.nav-overlay .menu-list li ul {
    border-right:1px solid #dbdbdb;
    border-left:0px;
}