
$footer-background-color: #363636;
$footer-color: #fff;
$footer-padding: 1rem 1.5rem 1rem;
.footer {
  margin-top: auto;
}

// .footer
//   background-color: $footer-background-color
//   padding: $footer-padding
//   @if $footer-color
//     color: $footer-color
